<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<context:component-scan base-package="com.noisyle.springdemo.**.service" />
	<context:component-scan base-package="com.noisyle.springdemo.**.dao" />

	<!-- 加载属性文件 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath*:/spring-context.properties</value>
			</list>
		</property>
	</bean>
	<!-- 加载属性文件 -->

	<!-- 数据源配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="defaultAutoCommit" value="false" />
	</bean>
	<!-- 数据源配置 -->

	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- 配置事务属性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 根据方法名指定事务的属性 -->
			<tx:method name="*" />
			<tx:method name="requiresNew*" propagation="REQUIRES_NEW" />
			<tx:method name="get*" read-only="true" />
			<tx:method name="find*" read-only="true" />

		</tx:attributes>
	</tx:advice>

	<!-- 配置事务切入点，以及把事务切入点和事务属性关联起来 -->
	<aop:config proxy-target-class="true">
		<aop:pointcut expression="(execution(* com.noisyle.springdemo.*.service.*.*(..))) or (execution(* com.noisyle.springdemo.*.dao.*.*(..)))"
			id="txPointCut" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut" />
	</aop:config>


	<bean id="SpringContextHolder" class="com.noisyle.springdemo.common.util.SpringContextHolder" />
</beans>