<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh" ng-app>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>title</title>

<link href="/static/css/bootstrap.min.css" rel="stylesheet" />

<!--[if lt IE 9]>
      <script src="/static/js/html5shiv.min.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->
<script src="/static/js/jquery-1.11.2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/angular.min.js"></script>
</head>
<body ng-controller="ActivitiesListCtrl">
	<h1>Today's activities</h1>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				Search: <input ng-model="query">
			</div>
			<div class="span10">
				<ul class="phones">
					<li ng-repeat="activity in activities | filter:query">{{activity.title}}
						<p>{{activity.content}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
<script>
	function ActivitiesListCtrl($scope, $http) {
		$http.get('ng/list').success(function(data) {
			$scope.activities = data;
		});
	}
</script>
</html>